
<div class="blog__post mt-4">

  <span class="badge badge-success text-success"><%= pluralize(@articles.count, 'article') %> published</span>

  <% if @articles.length === 0 %>
    <h2>No Post Found.</h2>
  <%end %>

  <%= render 'article', obj:@articles %>
</div>
