<div class="container">
  <div class="row">
     <div class="col-8">
       <%= render 'articles/article', obj:@user.articles %>
     </div>
    <div class="col-4">
      <div class="card p-5">
        <span class="bg-success badge badge-profile">user Profile</span>
        <div class="profile_image">
          <%= gravatar_for @user %>
        </div>
        <h2><%= @user.username %></h2>
        <p><%= @user.email %></p></div>
    </div>
    </div>
  </div>
</div>
