/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.blog__post {
    width: 70%;
    margin: 30px auto;
}
.success_messages {
    width: 85%;
    margin: 20px auto;
}
.blog__post__form {
    width: 70%;
    margin: 30px auto;
}
.blog_post {
    margin: 10px 0;
    padding: 10px;
}
.error-container {
    list-style-type: none;
}
.list-item-errors {
    padding: 0 10px;
}

.card-footer-area {
    font-size: 13px !important;
    color: #777;
    margin-top: 20px;
}
.profile--user {
    width: 80% !important;
    margin: 20px auto;
    display: flex;
    align-content: center;
    justify-content: center;
}
.image-gravtar {
    margin-bottom: 20px;
    height: 150px;
    width: 150px;
    border-radius: 5px;
    object-fit: cover;
}

.badge-profile {
    display: inline-block;
    width: 100px;
    margin-bottom: 20px;
}
.contributer img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 10px;
}
.author-name a {
    text-decoration: none;
    color: #333;
}
.badge__count {
    text-decoration: none;
    color: #fff;
    background-color: #32cc32;
    border-radius: 4px;
    padding: 5px 10px;
}

.badge__count a {
    text-decoration: none;
    color: #fff;
}

.pagination span {
    margin: 0 10px;
    background-color: #32cc32;
    color: #fff;
    width: 70px;
    border-radius: 5px;
    text-align: center;
}

.pagination a {
    color: #fff;
    text-decoration: none;
}

.pagination .current {
    background-color: blue;
}